@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
  /* background: #659999;*/
  background: -webkit-linear-gradient(
    to right,
    #780206,
    #061161,
    #b21f1f,
    #fdbb2d
  );
  background: linear-gradient(90deg, #780206, #061161, #b21f1f, #fdbb2d);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: monospace;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(27, 159, 102, 0.283);
  background: linear-gradient(
    to right,
    rgba(199, 28, 75, 0.5440301120448179) 6%,
    rgb(233, 148, 133),
    rgb(237, 101, 101)
  );
}
.body {
  display: block;
  justify-content: center !important;
  align-content: center;
  background: linear-gradient(
    to top,
    rgb(4, 13, 18),
    rgb(24, 61, 61),
    rgb(92, 131, 116),
    rgb(147, 177, 166)
  );
}
.logo {
  filter: drop-shadow(2px 2px 20px rgb(74, 188, 188));
  padding: 2px 2px 0px 4px;
  width: 90px;
  height: 85px;
  border-radius: 5px;
  object-fit: cover;
}
.nav-items {
  padding: 0px 10px;
}
.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  float: left;
  margin: 8px;
  padding: 10px;
  color: whitesmoke;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.logo-container {
  height: 2px;
}
.res-container {
  display: flex !important;
  flex-wrap: wrap;
}
.res-card {
  width: 260px;
  border-radius: 10px;
  transition: all 0.75s ease 0s;
  margin: 5px;
  padding: 2px;
  overflow: hidden;
  background: rgb(114, 143, 145);
}
.res-card:hover {
  cursor: pointer;
  border-radius: 10px;
  width: 265px;
  /* border: 1px solid rgba(239, 192, 204, 0.544); */
}
.res-card-details {
  display: grid;
  transition: all 0.05s ease 0s;
  cursor: pointer;
  gap: 12px;
  grid-auto-flow: row;
  justify-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
}

.search-field {
  padding: 10px;
  display: flex;
}

.res-card-logo {
  width: 263px;
  height: 150px;
  border-radius: 6px;
  object-fit: cover !important;
}
.res-card-items {
  margin: 0;
}
.res-rating-time {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.rating-btn {
  border-radius: 20px;
  padding: 8px;
  margin: 4px;
  border: 1px solid lavender !important;
  font-family: cursive;
  outline: none;
}
.rating-btn:hover {
  cursor: pointer;
}
.shimmer-card {
  width: 270px;
  height: 150px;
  border-radius: 10px;
  transition: all 0.75s ease 0s;
  margin: 5px;
  padding: 2px;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgba(96, 91, 92, 0.544) 6%,
    rgb(120, 108, 106),
    rgb(148, 129, 129)
  );
}
.shimmer-rating-btn {
  width: 60px;
  height: 15px;
  border-radius: 20px;
  padding: 12px;
  border: 1px solid lavender;
}
.login-logout {
  border: none;
  color: whitesmoke;
  font-size: 21px;
  background-color: transparent;
  cursor: pointer;
}
.menu-items {
  list-style-type: none;
}
.link-btn {
  text-decoration: none;
  color: black;
}
.header-link {
  text-decoration: none;
  color: whitesmoke;
}
.user-card {
  border: 1px solid black;
}
.menu {
  background: rgb(147, 177, 166);
}
